<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Данные веб-сайта</title>
    <link rel="stylesheet" th:href="@{/static/styles/errorsStyle.css}">
    <link rel="stylesheet" th:href="@{/static/styles/style.css}">

</head>
<body class="web-info">

<div class="container">
    <form th:method="PATCH" th:action="@{/web-info/{id}(id=${website.websiteId})}" th:object="${website}">

        <label for="name">Имя сайта: </label>
        <br>
        <input class="data" type="text" th:field="*{name}" id="name">
        <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
        <br>
        <br>
        <label for="login">Логин: </label>
        <br>
        <input class="data" type="text" th:field="*{login}" id="login">
        <div class="error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
        <br>
        <br>
        <label for="password">Пароль: </label>
        <br>
        <div class="password-container">
            <input class="data" type="text" th:field="*{password}" id="password">
            <img th:src="@{/static/images/eye-close.svg}" alt="password visibility" onclick="showPassword()">
        </div>
        <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        <br>
        <hr>
        <input type="submit" value="Изменить">
    </form>
    <br>
    <form th:method="DELETE" th:action="@{/web-info/{id}(id=${website.websiteId})}">
        <input class="send-button" type="submit" value="Удалить">
    </form>
</div>
<script th:src="@{/static/scripts/script.js}"></script>
</body>
</html>